<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
We are currently unavilable for contact.  Please try again later.
You can also visit <a href="http://railstutorial.org/contact">Here</a> for emergencies.
</p>
