<% provide(:title, 'Home') %>
<!DOCTYPE html>
<h1>Sample App</h1>
<p>
	This is the home page for the
	<a href="http://railstutorial.org">Ruby on Rails Tutorial</a> sample application.
	</p>
	<p>
		Please visit other links at 
		<a href="/static_pages/about">About</a> | <a href="/static_pages/help">Help</a> | 
		<a href="/static_pages/contact">Contact</a>
	</p>
